body {
  color: #555;
}

.social a {
  text-decoration: none;
}

#contact ul {
  list-style-type: none;
}

a {
  color: #555;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #111;
}